@import url("./common.css");


// ====================================default mixin====================================
@mixin max-width-1180 {max-width: 1180px;margin: 0 auto;}
@mixin max-width-880 {max-width: 880px;}
@mixin max-width-280 {max-width: 280px;}

@mixin layoutBoxColor {border: 2px solid #f00;}
@mixin header-height {height: 100px;}

@mixin margin-top-1920() {margin-top: 100px;}
@mixin margin-bottom-1920() {margin-bottom: 100px;}

@mixin margin-top-1100() {margin-top: 75px;}
@mixin margin-bottom-1100() {margin-bottom: 75px;}




@mixin absolute-left($left, $top) {
    position: absolute;
    left: $left; top: $top;
    transform: translateX(-$left);
}
@mixin absolute-top($left, $top) {
    position: absolute;
    left: $left; top: $top;
    transform: translateY(-$top);
}
@mixin absolute-center {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

@mixin visual-text {
    width: 100%; height: 100%;
    color: #fff;
    display: flex; align-items: center; justify-content: center; flex-direction: column;
    line-height: 1; letter-spacing: -0.6px;
    font-weight: 500; text-transform: uppercase;
}

@mixin sub-menu-bar($height, $margin) {
    content: '';
    display: inline-block;
    width: 1px; height: $height;
    background: #7bcef1;
    margin-left: $margin;
}

@mixin sub-page-title($fs) {
    font-size: $fs;
    letter-spacing: -0.4px;
    color: #1e3c5a;
    margin-top: 100px;
    text-align: center;
}


// ====================================default mixin====================================
//	font-family: 'asn-l', 'asn-bold', 'asn-t';


// ====================================global====================================

// view_more
.view_more {
    position: relative;
    color: #fff;
    background: #44c1a3;
    width: 120px; height: 37px;
    display: flex; align-items: center;
    justify-content: center;
    border-radius: 18.5px;
    .ico_arrow_right {
        display: flex;
        margin-left: 20px;
    }
    &:hover {
        background: rgba($color: #44c1a3, $alpha: .5);
    }
}
// view_more

// table_wrap
.table_wrap {

    .table_header {
        margin: 0 auto 2rem;
        // border: 1px solid #F00;
        display: flex;
        justify-content: space-between;

       
        .table_text_search {
            display: flex;
            align-items: center;

            .search_form {
                fieldset {
                    legend {
                        display: none;
                    }
                    display: flex;
                    align-items: center;
                    .form_02_selectbox {
                        flex-wrap: wrap;
                        select {
                            border: 1px solid #ddd;
                            width: 90px; height: 40px;
                            margin-right: 6px;
                            padding-left: 14px;
                        }
                 
                        input[type=text] {
                            height: 40px;
                            width: 220px;
                            border: 1px solid #ddd;
                            margin-right: 6px;
                            padding: 0 10px;
                        }
                        input[type=submit] {
                            background: #3bb0e2;
                            color: #fff;
                            border: none;
                            padding: 1rem 2rem;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

    }

    .table_notice {
        width: 100%;
        line-height: 1.78;
        letter-spacing: -0.45px;
        table-layout: fixed;
        thead {
            letter-spacing: -0.6px;
            background: #f1f1f1;
            border-top: 2px solid #1e3c5a;
            color: #222;
            font-size: 1.8rem;

            tr {
                th {
                    padding: 20px 10px;
                    text-align: center;

                    &.table_num, &.table_data {
                        width: 17%;
                    }
                    &.table_title {
                        width: auto;
                    }
                }

            }
        }

        tbody {
            display: none;
            font-size: 1.6rem;
            tr {
                border-bottom: 1px solid #e5e5e5;

                td {
                    padding: 20px 0;
                    text-align: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #555;
                    &.table_title {
                        text-align: left;
                        a {
                            color: #555;
                        }
                        &:hover {
                            a {
                                color: #3bb0e2;
                            }
                        }
                    }
              
                }
                .notice_download {
                    a {
                        display: block;
                    }
                }
            }

            &.active {
                display: table-footer-group;
            }
        }
    }
    
    // table_news
    .table_news {
        margin-top: 50px;
        .news_wrap {
            display: flex; justify-content: space-between; flex-wrap: wrap;
            flex-wrap: wrap;
            > a {
                width: calc(33% - 20px);
                margin-bottom: 40px;
                .news_item {
                    img {
                        object-fit: cover;
                        width: 100%; height: 100%;
                    }
                    figcaption {
                        padding: 19px 17px;
                        > span {
                            display: block;
                        }
                        .text_01 {
                            font-size: 2rem;
                            letter-spacing: -0.2px;
                            color: #222;
                            transition: all .15s;
                        }
                        .text_02 {
                            font-size: 1.4rem;
                            margin-top: 20px;
                            color: #999;
                        }
                    }
                }
                // hover, active
                &:hover {
                    .text_01 {
                        color: #3bb0e2 !important;
                    }
                }
            }
        }
    }
    
    .table_notice_more_btn {
        margin-top: 70px;
        display: flex;
        justify-content: center;
        align-items: center;

        .num_box {
            a {
                font-size: 1.6rem;
                color: #a6a6a6;
                padding: 0 10px;
                font-weight: bold;

                &.active {
                    color: #112D4E;
                }
            }
        }

        .btn_box {
            display: flex;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;
                margin: 0 5px;
            }

        }
    }

}
// table_wrap

// table_wrap_more
.table_wrap_more {
    margin-top: 50px;

    .table_notice {
        width: 100%;
        line-height: 1.78;
        letter-spacing: -0.45px;
        table-layout: fixed;

        thead {
            letter-spacing: -0.6px;
            border-top: 1px solid #1e3c5a;
            border-bottom: 1px solid #e6e6e6;
            color: #222;
            font-size: 1.8rem;

            tr {
                th {
                    padding: 20px
                }
                td {
                    a {
                        display: block;
                    }
                }

                .table_notice_title {
                    font-size: 2rem;
                    width: auto;
                    text-align: left;
                    vertical-align: middle;
                }

                .table_notice_data {
                    font-size: 1.4rem;
                    width: 20%;
                    text-align: right;
                    color: #999;
                }

                &:first-child {
                    font-size: 2rem;
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid #e5e5e5;

                .table_notice_detail {
                    padding: 20px;
                    font-size: 1.6rem;
                }
            }
        }





    }

    .table_notice_more {
        margin-top: 40px;
        display: flex;
        justify-content: flex-end;

        >a {
            font-size: 1.6rem;
            display: inline-block;
            padding: 10px 26px;
            color: #fff;
            transition: all .3s;
            background: #3bb0e2;
            &:hover {
                color: #fff;
                background: rgba($color: #3bb0e2, $alpha: .5);
            }
        }
    }
}
// table_wrap_more

/* main_arrow_effect */
.main_arrow_wrap {
    .swiper-button-prev, .swiper-button-next { background:transparent; border-radius:100%; overflow:hidden; }
    .swiper-button-prev::before, .swiper-button-next::before { width:42px; height:2px; margin-left:-21px; margin-right:-21px; }
    .swiper-button-prev::after, .swiper-button-next::after { border-left-width:2px; border-bottom-width:2px; margin-left:-20px; margin-right:-20px; }
    .swiper-button-next::before, .swiper-button-next::after { left:auto; right:50%; }
    .swiper-button-prev { left:50%; margin-left:-685px; }
    .swiper-button-next { right:50%; margin-right:-685px; }

    .swiper-button-prev { animation:ani-prevbtn-3-out 300ms both; }
    .swiper-button-prev::after { animation:ani-prev-3-out 300ms both; }
    .swiper-button-prev::before { animation:ani-prev-3-out-bar 300ms both; }
    .swiper-button-next { animation:ani-nextbtn-3-out 300ms both; }
    .swiper-button-next::after { animation:ani-next-3-out 300ms both; }
    .swiper-button-next::before { animation:ani-next-3-out-bar 300ms both; }
    .swiper-button-prev:hover { animation:ani-prevbtn-3 600ms both; }
    .swiper-button-prev:hover::after { animation:ani-prev-3 600ms both; }
    .swiper-button-prev:hover::before { animation:ani-prev-3-bar 600ms both; }
    .swiper-button-next:hover { animation:ani-nextbtn-3 600ms both; }
    .swiper-button-next:hover::after { animation:ani-next-3 600ms both; }
    .swiper-button-next:hover::before { animation:ani-next-3-bar 600ms both; }

    @keyframes ani-prevbtn-2{ 100%{border-color:#44c1a3;background-color:#44c1a3;} 0%, 50%{background-color:transparent;} }
    @keyframes ani-nextbtn-2{ 100%{border-color:#44c1a3;background-color:#44c1a3;} 0%, 50%{background-color:transparent;} }
    @keyframes ani-prev-2{ 100%{left:50%;border-color:#fff;} 50.1%{left:100%;border-color:#fff;} 50%{left:-100%;} }
    @keyframes ani-next-2{ 100%{right:50%;border-color:#fff;} 50.1%{right:100%;border-color:#fff;} 50%{right:-100%;} }

    @keyframes ani-prevbtn-2-out{ 0%{border-color:#44c1a3;background-color:#44c1a3;} 100%{background-color:transparent;} }
    @keyframes ani-nextbtn-2-out{ 0%{border-color:#44c1a3;background-color:#44c1a3;} 100%{background-color:transparent;} }
    @keyframes ani-prev-2-out{ 0%{left:50%;border-color:#fff;} 100%{left:50%;} }
    @keyframes ani-next-2-out{ 0%{right:50%;border-color:#fff;} 100%{right:50%;} }

    @keyframes ani-prevbtn-3-out{ 0%{background-color:#44c1a3;} 100%{background-color:transparent;} }
    @keyframes ani-nextbtn-3-out{ 0%{background-color:#44c1a3;} 100%{background-color:transparent;} }
    @keyframes ani-prev-3-out{ 0%{margin-left:-3px;} }
    @keyframes ani-next-3-out{ 0%{margin-right:-3px;} }
    @keyframes ani-prev-3-out-bar{ 0%{left:70%;background-color:transparent;} 100%{left:50%;} }
    @keyframes ani-next-3-out-bar{ 0%{right:70%;background-color:transparent;} 100%{right:50%;} }

    @keyframes ani-prevbtn-3{ 100%{background-color:#44c1a3;} 0%, 50%{background-color:transparent;} }
    @keyframes ani-nextbtn-3{ 100%{background-color:#44c1a3;} 0%, 50%{background-color:transparent;} }
    @keyframes ani-prev-3{ 100%{left:50%;border-color:#fff;margin-left:-3px;} 50.1%{left:100%;border-color:#fff;margin-left:-3px;} 50%{left:-100%;} }
    @keyframes ani-next-3{ 100%{right:50%;border-color:#fff;margin-right:-3px;} 50.1%{right:100%;border-color:#fff;margin-right:-3px;} 50%{right:-100%;} }
    @keyframes ani-prev-3-bar{ 100%{left:50%;background-color:transparent;} 50.1%{left:100%;background-color:transparent;} 50%{left:-100%;} }
    @keyframes ani-next-3-bar{ 100%{right:50%;background-color:transparent;} 50.1%{right:100%;background-color:transparent;} 50%{right:-100%;} }
}
/* main_arrow_effect */

// ====================================global====================================





// ==========================header==========================
#header {
    @include header-height();
    z-index: 9999;
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    transition: .3s;
   
    a { color: #fff; }

    > .header_wrap {
        max-width: 1180px;
        border-bottom: 1px solid rgba($color: #fff, $alpha: .1);
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        // logo
        .header_left {
            z-index: 1;
            display: flex;
            align-items: center;
            a {
                display: block;
                width: 120px;
                svg {
                    .st0 {
                        fill: #fff;
                        transition: all .3s;
                    }
                }
            }
        }

        // center_menu
        .header_center {
            @include header-height();
            width: 100%;
            margin: 0 auto;
            transition: all .3s;
            visibility: visible;
            max-width: 600px;
            display: flex;
            a { display: block; }

            .header_bg {
                position: absolute;
                left: 0; top: 100%;
                z-index: -1;
                background: rgba($color: #fff, $alpha: 1);
                width: 100%;
                height: 60px;
                opacity: 0;
                visibility: hidden;
                border-top: 1px solid rgba($color: #6f6f6f, $alpha: .1);
                transition: all .3s;
            }
            >li {
                position: relative;
                width: 20%;
                font-size: 1.8rem;
                height: 100%;
                text-align: center;
                line-height: 35px;
                transition: .3s;
                &::after {
                    content: '';
                    position: absolute;
                    left: 0; bottom: -2px;
                    height: 2px;
                    width: 100%;
                    background: #44c1a3;
                    opacity: 0;
                    transition: .3s;
                }
           
                >a {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    transition: all .15s;
                }

                .depth_01 {
                    transition: .3s;
                    width: 100%; height: 60px;
                    font-size: 1.6rem;
                    font-weight: 300;
                    display: none;
                    li {
                        transition: .3s;
                        padding-left: 40px;
                        &:first-child { padding-left: 0; }
                        a {
                            transition: .3s;
                            color: #939598;
                            position: relative;
                            &::after {
                                content: '';
                                position: absolute;
                                left: 0; bottom: 0;
                                height: 2px;
                                width: 100%;
                                background: #245B9A;
                                opacity: 0;
                                transition: .3s;
                            }

                            &:hover {
                                color: #44c1a3;
                            }
                        }
                    }
                }
            
            }
        }

        // header_right 
        .header_right {
            display: flex;
            align-items: center;
            z-index: 1;
            
         

            // header_ham
            .header_ham {
                position: relative;
                width: 30px;
                height: 20px;
                cursor: pointer;
                &.active {
                    span {
                        border-color: #fff !important;
                        &:nth-of-type(1) {
                            top: calc( 50% - 1px );
                            transform: rotate(45deg);
                        }
                        &:nth-of-type(2) {
                            opacity: 0;
                            transform: translateX(100%);
                        }

                        &:nth-of-type(3) {
                            bottom: calc( 50% - 1px );
                            transform: rotate(-45deg);
                        }
                    }    
                }

                span {
                    // 햄벅
                    position: absolute;
                    left: 0;
                    width: 100%;
                    border-bottom: 2px solid #fff;
                    transition: .3s;
    
                    &:nth-of-type(1) {
                        top: 0;
                    }
    
                    &:nth-of-type(2) {
                        top: calc(50% - 1px);
                    }
    
                    &:nth-of-type(3) {
                        bottom: 0;
                    }
                }
            }

        
            &.active {
                span:nth-of-type(1) {
                    transform: rotate(45deg);
                    top: calc(50% - 1px);
                }

                span:nth-of-type(2) {
                    opacity: 0;
                }

                span:nth-of-type(3) {
                    transform: rotate(-45deg);
                    bottom: calc(50% - 1px);
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                }
            }
        }
    

         // full_header
        .header_full {
            position: fixed;
            left: 0; top: 0; bottom: 0; right: 0;
            background: #18242e;
            transition: all .3s;
            transform: translateX(100%);
            &.active {
                transform: translateX(0);
            }
            .header_full_wrap {
                margin-top: 90px;
                a {
                    display: block;
                    transition: all .15s;
                    text-align: center;
                    line-height: 1;
                    &:hover {
                        color: #34b2e7;
                    }
                }
           
                .header_full_list {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .depth_01 {
                        display: inline-block;
                        max-width: 300px;
                        width: 100%;
                        > a {
                            font-size: 5.5rem;
                            color: #34b2e7;
                            padding-top: 50px;
                            text-align: left;
                            transition: all .15s;
                            &:hover {
                                opacity: .5;
                            }
                        }
                        &:nth-child(1){
                            > a {
                                padding-top: 0;
                            }
                        }
                        // depth_02
                        .depth_02 {
                            display: none;
                            > li {
                                display: flex;
                                flex-direction: column;
                                > a {
                                    text-align: left;
                                    font-size: 4rem;
                                    padding: 30px 0 0 30px;
                                }
                                // depth_03
                                .depth_03 {
                                    display: flex;
                                    flex-direction: column;
                                    > li {
                                        > a {
                                            text-align: left;
                                            font-size: 2.4rem;
                                            color: #939598;
                                            transition: all .15s;
                                            padding: 10px 0 0 30px;
                                            &:hover {
                                                color: #34b2e7;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.active {
        // background: transparent;
    }

    // hover, active 
    &:hover {
        background: #fff;
        a { color: #000; }
        .header_wrap {
            .header_left {
                a {
                    svg {
                        .st0 {
                            fill: #44c1a3;
                        }
                    }
                }
            }
        
            .header_right {
                .header_ham {
                    span {
                        border-color: #000;
                    }
                }
            }
        }
    }

    .header_center {
        &:hover {
            .header_bg {
                opacity: 1;  
                visibility: visible;
            }
        }
        li {
            &:hover {
                .depth_01 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &::after {
                    opacity: 1;
                }
            }
        }
    }
   
}


// ==========================main==========================
main {
    position: relative;
    &.main_wrap {
        overflow: hidden;
        .main_section {
            
            &:not(:first-child) {
            }

            &.main_section_01 {
                height: 100vh;
                .mv_wrap {
                    
                    .mv {
                        overflow: hidden;
                        .slide-bgimg {
                            position: absolute;
                            left:0;top:0;
                            width: 100%; height: 100%;
                        }
                            .mv_img_01 {background: url("../images/main/mv_01.png") no-repeat center/cover ;}
                            .mv_img_02 {background: url("../images/main/mv_02.png") no-repeat center/cover ;}
                            .mv_img_03 {background: url("../images/main/mv_03.png") no-repeat center/cover ;}
                            .mv_img_04 {background: url("../images/main/mv_04.png") no-repeat center/cover ;}
                            .mv_img_05 {background: url("../images/main/mv_05.png") no-repeat center/cover ;}
                            .mv_img_06 {background: url("../images/main/mv_06.png") no-repeat center/cover ;}

                        
                        .mv_text {
                            position: absolute;
                            left:50%; top:50%;
                            transform: translate(-50%, -50%);
                            text-align: center;
                            color: #fff;
                            width: 90%;
                            
                            .text_wrap {
                                position: relative;
                                overflow: hidden;
                                height: 150px;
                                text-align: center;
                                &.wrap_02 {
                                    height: 125px;
                                }
                                span {
                                    width: 100%;
                                }
                                .text_02, .view_more {
                                    transition: all .8s ease;
                                }
                                .text_01 {
                                    position: absolute;
                                    left: 50%; bottom: -100%;
                                    transform: translateX(-50%);
                                    font-size: 6rem;
                                    line-height: 1;
                                    letter-spacing: -0.6px;
                                    font-weight: 500;
                                    transition: all .8s .1s ease;

                                    i {
                                        display: inline-block;
                                        line-height: 1.25;
                                    }
                                    strong {
                                        display: inline-block;
                                        font-weight: normal;
                                    }
                                }
                                .text_02 {
                                    position: absolute;
                                    left: 50%; top: -100%;
                                    transform: translateX(-50%);
                                    margin-top: 17px;
                                    font-size: 2rem;
                                    font-weight: 500;
                                    letter-spacing: -0.5px;
                                }
                                .view_more {
                                    position: absolute;
                                    left: 50%; bottom: -100%;
                                    transform: translateX(-50%);
                                    letter-spacing: -0.2px;
                                    span {
                                        font-size: 12px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                    }
                                }
                            }
                        
                        }
                    }
                    .swiper-slide-active {
                        .mv_text {
                            .text_wrap {
                                .text_01 { bottom: 0; }
                                .text_02 { top: 0; }
                                .view_more { bottom:0; }
                            }
                         
                        }
                    }
                }
                .main_arrow_wrap {
                    .swiper-button-next ,.swiper-button-prev {
                        width: 65px;
                        height: 65px;
                        margin: 0;
                        z-index: 9999;
                    }
                    .swiper-button-prev {
                        background-image: none;
                        left: 19.3%;
                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0; left: 50%; top: 50%;
                            margin: -6px 0 0 -13px;
                            width: 10px;
                            height: 10px;
                            border-left: solid 2px #fff;
                            border-bottom: solid 2px #fff;
                            -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                        &::before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            top: 50%;
                            margin: -1px 0 0 -13px;
                            width: 27px;
                            height: 2px;
                            background: #fff;
                        }
                    }
                    .swiper-button-next {
                        background-image: none;
                        right: 19.3%;
                        &::after{
                            content: '';
                            position: absolute;
                            bottom: 0; left: auto; right: 50%; top: 50%;
                            margin: -6px 0 0 -13px;
                            width: 10px;
                            height: 10px;
                            border-left: solid 2px #fff;
                            border-bottom: solid 2px #fff;
                            -webkit-transform: rotate(-135deg);
                            transform: rotate(-135deg);
                        }
                        &::before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            top: 50%;
                            margin: -1px 0 0 -13px;
                            width: 27px;
                            height: 2px;
                            background: #fff;
                        }
                    }
                    
               
                }
            
            }
        }
    }


    // sub_page default (main visual / sub menu bar)
    &.sub {
        &.about .visual{background: url("../images/about/mv.png") center/cover no-repeat ;}
        &.product .visual{background: url("../images/product/mv.png") center/cover no-repeat ;}
        &.shop .visual{background: url("../images/shop/mv.png") center/cover no-repeat ;}
        &.community .visual{background: url("../images/community/mv.png") center/cover no-repeat ;}
        &.contact .visual{background: url("../images/contact/mv.png") center/cover no-repeat ;}

        .sub_section.visual {
            height: 450px;
            .visual_img {
                width: 100%; height: 100%;
                .visual_title {
                    @include visual-text;
                    .text_01 {font-size: 6rem;}
                    .text_02 {font-size: 2rem; margin-top: 26px;}
                }
            }
        }

        .sub_page_layout {
            @include max-width-1180;
            &.sub_section_01 {
                > article.content:last-child {
                    // @include margin-bottom-1920();
                } 
            }
        }



    }


    

    // sub_page default (main visual / sub menu bar)


    // about_product_info ============================================
    &.about.product_info {

        .content_wrap {
            display: flex; justify-content: space-between;
            > div {
                width: 100%;
            }
            .item_01 {
                max-width: 280px;
                .text_wrap {
                    > span {
                        display: block;
                    }
                    .text_bar {
                        width: 60px; height: 2px;
                        background: #44c1a3;
                    }
                    .text_title {
                        margin-top: 20px;
                        font-size: 2.4rem; font-weight: 700;
                        line-height: 1.25; letter-spacing: -0.6px;
                    }
                }
                
            }
            .item_02 {
                max-width: 880px;
                .text_wrap {
                    position: relative;
                    > span {
                        display: block;
                    }
                    .text_01 {
                        font-size: 2rem; font-weight: 700;
                        letter-spacing: -0.5px;
                    }
                    .text_02, .text_03 {
                        margin-top: 20px;
                        font-size: 16px;
                        line-height: 1.88; letter-spacing: -0.4px;                              
                    }
                    .point_number {
                        position: absolute;
                        left: -70px; top: 0;
                        font-size: 20rem; font-weight: 700;
                        color: rgba(68, 193, 163, 0.1);
                        line-height: 0.12; letter-spacing: -5px;
                    }
                }
            }
        }
        .sub_section_01 {
            .content {
                &.content_01 {
                    margin-top: 170px;
                    .content_wrap {}
                }
                &.content_02 {
                    margin: 180px auto 300px;
                    .content_wrap {
                        .item_point {
                            width: 100%;
                            position: relative;
                            display: flex;
                            justify-content: flex-end;
                            .img_01 {
                                position: absolute; left: 0; top:-32px;
                                z-index: 1;
                            }
                            .img_02 {}
                            .item_point_text {
                                position: absolute; left: 0; bottom: -80px;
                                font-size: 16rem; font-weight: 700; color: #44c1a3;
                                line-height: 1.2; letter-spacing: -1.6px;
                            }
                        }
                    }
                }
                &.content_03 {
                }
            }

        }       
        .sub_section_02 {
            margin-top: 150px;
            background: #f5fcfa;
            .content {
                &.content_01 {
                    padding-top: 150px;
                }
                &.content_02, &.content_03 {
                    .content_wrap {
                        justify-content: flex-end;
                        .item_list_wrap {
                            @include max-width-880();
                            margin-top: 100px;
                            display: flex;
                            width: 100%;
                            .item_list_01 {
                                margin-right: 20px;
                                &.last {
                                    margin-right: 0;
                                }
                                .content_item {
                                    position: relative;
                                    > img {}
                                    > figcaption {
                                        @include absolute-left(50%, 0);
                                        width: 100%; height: 100%;
                                        display: flex; flex-direction: column; justify-content: center;
                                        color: #fff;
                                        > span {
                                            display: block; text-align: center;
                                            &.text_01 {
                                                font-size: 2.4rem; font-weight: 700;
                                                letter-spacing: -0.6px;
                                            }
                                            &.text_02 { margin-top: 23px; }
                                            &.text_02, &.text_03 {
                                                font-size: 16px;
                                                letter-spacing: -0.4px;
                                            }
                                        }
                                        
                                    }
                                }
                            }
                        }
                    }
                }
                &.content_03 {
                    padding-bottom: 150px;
                    .content_wrap {
                        .item_list_wrap {
                            flex-wrap: wrap;
                            .item_list_01 {
                                margin: 0 15px 30px 0;
                                &:nth-child(5n) {
                                    margin-right: 0;
                                }
                                .content_item {
                                    > img {}
                                    > figcaption {
                                        > span {
                                            &.text_01 {
                                                font-size: 16px; font-weight: 700;
                                                letter-spacing: -0.4px;
                                            }
                                            &.text_01.red {color: #ff3217;}
                                            &.text_01.black {color: #000;}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }


        .sub_section_03 {
            margin-top: 150px;
            .content {
                &.content_01 {
                    .content_wrap {
                        .item_02.img_item {
                            .img_item_list {
                                display: flex;
                                &:not(:first-child) {
                                    margin-top: 140px;
                                }
                                &.column {
                                    flex-direction: column;
                                }
                                > .text_wrap {
                                    .text_02 {
                                        .detail {
                                            display: block;
                                            font-size: 14px;
                                            color: #444;
                                            letter-spacing: -0.35px;
                                        }
                                    }
                                    .text_03 {
                                        margin-top: 40px;
                                        .point_dots {
                                            display: list-item;
                                            &::marker {
                                                color: #44c1a3;
                                            }
                                        }
                                    }
                                }
                                > .img_wrap {
                                    margin-left: 50px;
                                    img{
                                        &:nth-child(2) {
                                            margin-top: 20px;
                                        }
                                    }
                                }
                                > .img_wrap_02 {
                                    display: flex; flex-wrap: wrap;
                                    margin-top: 50px;
                                    .img_list {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        margin-left: 18px;
                                        &:first-child {
                                            margin-left: 0;
                                        }
                                        img {}
                                        figcaption {
                                            margin-top: 14px;
                                            font-size: 16px;
                                            letter-spacing: -0.4px;
                                        }
                                    }
                                    .detail_text {
                                        margin-top: 50px;
                                        font-size: 16px;
                                        letter-spacing: -0.4px;
                                    }
                                    .detail_table {
                                        margin-top: 50px;
                                        width: 100%;
                                        caption {
                                            text-align: left;
                                            font-size: 16px; 
                                            letter-spacing: -0.35px;
                                            small {
                                                font-size: 14px;
                                                color: #444;
                                                letter-spacing: -0.35px;
                                            }
                                        }
                                        tr {
                                            th,td {
                                                border: 1px solid #aaa;
                                                text-align: center;
                                                padding: 7px 0;
                                                font-size: 16px;
                                                letter-spacing: -0.4px;
                                            }
                                            th{
                                                background: #f1f1f1;
                                            }
                                            td{
                                                width: 20%;
                                                &.long {
                                                    width: 25%;
                                                }
                                            }
                                        }
                                    }
                                }

                                > .img_wrap_03 {
                                    display: flex;
                                    margin-top: 30px;
                                    .img_list {
                                        position: relative;
                                        z-index: 1;
                                        &.cross {
                                            left: -50px;
                                            z-index: 0;
                                        }
                                        &.cross_02 {
                                            left: -100px;
                                        }
                                        img {}
                                        figcaption {
                                            @include absolute-center();
                                            text-align: center; 
                                            width: 100%;
                                            color: #fff;
                                            > span {
                                                display: block;
                                                &.text_01 {
                                                    font-size: 2.4rem; font-weight: 700;
                                                    letter-spacing: -0.6px;
                                                }
                                                &.text_02 {
                                                    margin-top: 18px;
                                                    font-size: 16px;
                                                    letter-spacing: -0.4px;
                                                    line-height: 1.88;
                                                }
                                            }
                                            
                                        }
                                    }
                                }

                                > .text_wrap_02 {
                                    margin-top: 30px;
                                    &.list_02 {
                                        margin-top: 75px;
                                    }
                                    .content_box {
                                        position: relative;
                                        display: flex;align-items: center;
                                        background: #ecf9f6;
                                        padding: 40px;
                                        border-radius: 40px;
                                        .text_wrap {
                                            width: 70%;
                                            .text_01 {
                                                font-size: 16px;
                                                letter-spacing: -0.4px;
                                            }
                                            .text_02 {
                                                margin-top: 16px;

                                            }
                                        }
                                        .img_wrap {
                                            position: absolute;
                                            left: 100%; top: 0;
                                            transform: translateX(-50%);
                                            img {}
                                        }
                                    }
                                }
                            }

                            .graph_item {
                                margin-top: 90px;
                                .graph_item_wrap {
                                    display: flex; flex-wrap: wrap; justify-content: space-between;
                                    .graph_item_list {
                                        display: flex; flex-direction: column; align-items: center;
                                        width: 45%;
                                        &:nth-child(n+3) {
                                            margin-top: 40px;
                                        }
                                        img {
                                            max-width: 414px;
                                            width: 100%;
                                        }
                                        figcaption {
                                            margin-top: 30px;
                                            font-size:16px; font-weight: 700;
                                            letter-spacing: -0.4px;
                                        }
                                    }
                                }
                                &.img_2 {
                                    .graph_item_wrap {
                                        .graph_item_list {
                                            img {
                                                width: auto;
                                            }
                                        }
                                    }
                                }
                            }
                            .table_item{
                                margin-top: 50px;
                                table {
                                    width: 100%;
                                    text-align: center;
                                    tr {
                                        th, td {
                                            border: 1px solid #aaa;
                                            font-size: 16px;
                                            line-height: 1.88;
                                        }
                                        th {
                                            padding: 5px 0;
                                            font-weight: normal;
                                        }
                                        td {
                                            line-height: 1;
                                            padding: 8px 0;
                                        }
                                    }
                                    thead {
                                        tr {
                                            background: #f1f1f1;
                                        }
                                    }
                                    tbody {
                                        tr{
                                            td {
                                                width: 25%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            
            }
        }

        // sub_section_04 
        .sub_section_04 {
            margin-top: 150px;
            .content {
                &.content_01 {
                    .content_wrap {
                        .item_02 {
                            .table_item {
                                table {
                                    width: 100%;
                                    th, tr, td {
                                        font-size: 16px;
                                        border: 1px solid #aaa;
                                        text-align: center;
                                        line-height: 1.5;
                                        padding: 10px 10px;
                                    }
                                    thead {
                                        tr {
                                            background: #f1f1f1;
                                            th {
                                                font-weight: normal;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.content_02 {
                    .content_wrap {}
                }
            }
        }

        // sub_section_05 
        .sub_section_05 {
            margin-top: 150px;
            .content {
                &.content_01 {
                    .content_wrap {
                        .item_02 {
                            .check_point {
                                .check_point_wrap {
                                    .check_box {
                                        display: flex;
                                        background-color: #ecf9f6;
                                        border-radius: 40px;
                                        margin-top: 20px;
                                        &:first-child {
                                            margin-top: 0;
                                        }
                                        .box_01 {
                                            width: 100px; height: 100px;
                                            display: flex; align-items: center; justify-content: center;
                                            background-color: #44c1a3; border-radius: 100%;
                                            font-size: 2rem; font-weight: 700; color: #fff;
                                        }
                                        .box_02 {
                                            margin-left: 30px;
                                            display: flex; justify-content: center; flex-direction: column;
                                            .text_01 {
                                                font-size: 2rem;
                                                font-weight: 700;
                                                .point_color {
                                                    font-style: normal;
                                                    color: #44c1a3;
                                                }
                                            }
                                            .text_02 {
                                                margin-top: 10px;
                                                font-size: 16px;
                                                letter-spacing: -0.4px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }


        // sub_section_06 
        .sub_section_06 {
            margin-top: 150px;
            .content {
                &.content_01 {
                    .content_wrap {
                        .item_02 {
                            .text_wrap {
                                margin-top: 50px;
                                &:first-child {
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                }
                &.content_02 {
                    .content_wrap {}
                }
            }
        }


    }


    

}



// ==========================footer==========================
#footer {
    margin-top: 200px;
    background: #44c1a3;
    font-size: 14px;
    .footer_wrap {
        @include max-width-1180;
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
        .content_01 {
            .link_wrap {
                display: flex;
                flex-wrap: wrap;
                .footer_link {
                    &:not(:first-child) {
                        margin-left: 25px;
                    }

                    a {
                        color: #fff;
                        font-weight: 700;
                        transition: all .15s;
                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
            .info_wrap {
                margin-top: 52px;
                line-height: 1;
                .footer_info {
                    color: #fff;
                    line-height: 1;
                    > a {
                        color: inherit;
                        transition: all .15s;
                        &:hover {
                            color: #000;
                        }
                    }
                    &.direction {
                        margin-top: 10px;
                    }
                    &.copyright {
                        margin-top: 15px;
                    }
                }
            }
        }
        .content_02 {
            a {
                display: block;
                width: 100px;
                img {
                    width: 100%;
                    fill: #000;
                }
                svg {
                    .st0 {
                        fill: #fff;
                    }
                }
            }
        }
    }
}



